* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 6rem 4rem 3rem;
}

header {
  display: flex;
  background-color: rgb(173, 230, 171);
  padding-block: 1rem;
  gap: 1rem;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
}

.header-img-container {
  width: 2.15rem;
}

.header-img-container img {
  width: 100%;
  display: block;
}

.card {
  display: flex;
  border: 2px solid grey;
  padding: 1.5rem 2rem;
  gap: 2.5rem;
  align-items: center;
}

.card-img {
  flex: 1;
}

.card-img img {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.dest-details {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
}

.dest-img-container {
  width: 1.5rem;
}

.dest-img-container img {
  width: 100%;
}

.dest-country {
  padding-left: 0.25rem;
  padding-right: 1.5rem;
}

a {
  color: grey;
}

.destiny {
  margin-bottom: 1rem;
  font-size: 1.75rem;
}

.duration {
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 1.05rem;
  margin-bottom: 1.5rem;
  letter-spacing: 0.1rem;
}

.desc {
  font-size: 1.05rem;
  font-family: monospace;
  line-height: 1.4rem;
}

.cards {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}